html::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

html::-webkit-scrollbar-track-piece {
    background: #aaa;
}

html::-webkit-scrollbar-thumb {
    background: #7a7a7a;
    border-radius: 2px;
}

html::-webkit-scrollbar-corner       {
    background: #999;
}

html::-webkit-scrollbar-thumb:window-inactive {
    background: #888;
}
