::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track-piece {
    background: #757575;
}

::-webkit-scrollbar-thumb {
    background: #424242;
}

::-webkit-scrollbar-corner       {
    background: #757575;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: #616161;
}

::-webkit-scrollbar-thumb:hover {
    background: #212121;
}
